[submodule "jo_navigation"]
	path = jo_navigation
	url = https://github.com/mlisi1/jo_navigation.git
[submodule "jo_description"]
	path = jo_description
	url = https://github.com/mlisi1/jo_description.git
