<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    
    <xacro:property name="PI" value="3.141592" />

    <xacro:property name="b2c_x" value="-0.30639" />
    <xacro:property name="b2c_y" value="0.01414" />
    <xacro:property name="b2c_z" value="0.27801" />
    <xacro:property name="b2c_R" value="0.0" />
    <xacro:property name="b2c_P" value="0.0" />
    <xacro:property name="b2c_Y" value="${PI}" />
    <xacro:property name="camera_mass" value="0.125" />
    <xacro:property name="camera_height" value="0.03" />
    <xacro:property name="camera_len" value="0.14" />
    <xacro:property name="camera_depth" value="0.03" />
    <xacro:include filename="$(find jo_description)/urdf/inertial_macros.xacro" />
    
    <xacro:macro name="back_depth" params="namespace">
        <joint name="base2back_camera" type="fixed">
            <parent link="base_link"/>
            <child link="back_camera_link"/>
            <origin xyz="${b2c_x} ${b2c_y} ${b2c_z}" rpy="${b2c_R} ${b2c_P} ${b2c_Y}"/>
        </joint>
        <link name="back_camera_link">

            <visual>
                <origin xyz="0 0 0" rpy="0 ${PI/2} 0"/>
                <geometry>
                    <box size="${camera_depth} ${camera_len} ${camera_height}"/>
                </geometry>
                <material name="gray"/>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 ${PI/2} 0"/>
                <geometry>
                    <box size="${camera_depth} ${camera_len} ${camera_height}"/>
                </geometry>
            </collision>            
            
            <xacro:inertial_box mass="${camera_mass}" x="${camera_depth}" y="${camera_len}" z="${camera_height}">
                    <origin xyz="0 0 0" rpy="0 ${PI/2} 0"/>
            </xacro:inertial_box>
            
        </link>
        <gazebo reference="back_camera_link">
            <sensor name="back_d455" type="rgbd_camera">
                <gz_frame_id>back_camera_link</gz_frame_id>
                <always_on>true</always_on>
                <update_rate>30</update_rate>
                <visualize>true</visualize>

                <!-- RGB camera -->
                <camera name="color">
                <horizontal_fov>1.50</horizontal_fov>  <!-- ≈86 deg -->
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>20</far>
                </clip>
                </camera>

                <!-- Depth -->
                <depth_camera>
                <clip>
                    <near>0.35</near>
                    <far>8.0</far>
                </clip>

                </depth_camera>

                <topic>back_camera</topic>
            </sensor>
            </gazebo>

        
    </xacro:macro>

    <xacro:back_depth namespace=""/>

</robot>